Link - https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures

In [1]:
import pandas as pd

In [2]:
url = "https://fbref.com/en/comps/9/2022-2023/schedule/2022-2023-Premier-League-Scores-and-Fixtures"

In [3]:
epl_list = []


epl_list.append(pd.read_html(url,index_col=False,flavor='lxml')[0])
epl_list = pd.concat(epl_list, axis=0, ignore_index=True)


epl_df = epl_list[epl_list['Wk'].notna()]

epl_df = epl_df.rename(columns={'xG':'xGHome'
                   ,'xG.1':'xGAway'})


epl_df['HomeScore'] = epl_df['Score'].str[0]
epl_df['AwayScore'] = epl_df['Score'].str[2]

epl_df = epl_df.drop(['Match Report','Notes'],axis=1)

epl_df['Date'] = pd.to_datetime(epl_df['Date'])

epl_df.sort_values(by='Date', inplace=True)

epl_df = epl_df[['Wk','Day','Date','Time','Home','HomeScore','xGHome','AwayScore','xGAway',
                 'Away','Attendance','Venue','Referee']]

In [4]:
epl_teams = list(epl_df['Home'].unique())
epl_teams.sort()

In [5]:
epl_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 380 entries, 0 to 429
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Wk          380 non-null    float64
 1   Day         380 non-null    object
 2   Date        380 non-null    datetime64[ns]
 3   Time        380 non-null    object
 4   Home        380 non-null    object
 5   HomeScore   380 non-null    object
 6   xGHome      380 non-null    float64
 7   AwayScore   380 non-null    object
 8   xGAway      380 non-null    float64
 9   Away        380 non-null    object
 10  Attendance  379 non-null    float64
 11  Venue       380 non-null    object
 12  Referee     380 non-null    object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 41.6+ KB

In [6]:
epl_df.tail(20)

,Wk,Day,Date,Time,Home,HomeScore,xGHome,AwayScore,xGAway,Away,Attendance,Venue,Referee
408,37.0,Sat,2023-05-20,15:00,Fulham,2,1.7,2,1.6,Crystal Palace,24356.0,Craven Cottage,Joshua Smith
409,37.0,Sat,2023-05-20,15:00,Bournemouth,0,1.0,1,1.4,Manchester Utd,10240.0,Vitality Stadium,Chris Kavanagh
410,37.0,Sat,2023-05-20,15:00,Wolves,1,1.6,1,2.0,Everton,31684.0,Molineux Stadium,David Coote
411,37.0,Sat,2023-05-20,17:30,Nott'ham Forest,1,0.6,0,0.6,Arsenal,29514.0,The City Ground,Anthony Taylor
412,37.0,Sun,2023-05-21,13:30,West Ham,3,2.1,1,0.9,Leeds United,62478.0,London Stadium,Peter Bankes
413,37.0,Sun,2023-05-21,14:00,Brighton,3,2.5,1,0.6,Southampton,31507.0,The American Express Community Stadium,Paul Tierney
414,37.0,Sun,2023-05-21,16:00,Manchester City,1,1.2,0,1.2,Chelsea,53490.0,Etihad Stadium,Michael Oliver
415,37.0,Mon,2023-05-22,20:00,Newcastle Utd,0,2.1,0,0.1,Leicester City,52152.0,St James' Park,Andre Marriner
417,32.0,Wed,2023-05-24,20:00,Brighton,1,2.2,1,1.8,Manchester City,31388.0,The American Express Community Stadium,Simon Hooper
418,32.0,Thu,2023-05-25,20:00,Manchester Utd,4,5.2,1,1.9,Chelsea,73561.0,Old Trafford,Stuart Attwell
427,38.0,Sun,2023-05-28,16:30,Aston Villa,2,2.8,1,1.4,Brighton,NaN,Villa Park,David Coote
426,38.0,Sun,2023-05-28,16:30,Leicester City,2,1.4,1,1.4,West Ham,32183.0,King Power Stadium,Simon Hooper
425,38.0,Sun,2023-05-28,16:30,Everton,1,1.0,0,0.5,Bournemouth,39201.0,Goodison Park,Stuart Attwell
424,38.0,Sun,2023-05-28,16:30,Southampton,4,1.8,4,4.0,Liverpool,31129.0,St. Mary's Stadium,Darren England
428,38.0,Sun,2023-05-28,16:30,Leeds United,1,1.5,4,2.2,Tottenham,36871.0,Elland Road,Anthony Taylor
422,38.0,Sun,2023-05-28,16:30,Manchester Utd,2,2.9,1,1.8,Fulham,73465.0,Old Trafford,Robert Jones
421,38.0,Sun,2023-05-28,16:30,Chelsea,1,2.2,1,1.7,Newcastle Utd,40130.0,Stamford Bridge,Jarred Gillett
420,38.0,Sun,2023-05-28,16:30,Crystal Palace,1,1.4,1,0.5,Nott'ham Forest,25198.0,Selhurst Park,Thomas Bramall
423,38.0,Sun,2023-05-28,16:30,Arsenal,5,2.8,0,0.5,Wolves,60095.0,Emirates Stadium,Andre Marriner
429,38.0,Sun,2023-05-28,16:30,Brentford,1,1.3,0,1.6,Manchester City,17120.0,Brentford Community Stadium,John Brooks

In [7]:
epl_df['HomeScore'] = epl_df['HomeScore'].apply(lambda x: int(x))
epl_df['AwayScore'] = epl_df['AwayScore'].apply(lambda x: int(x))

In [8]:
epl_df.head(3)

,Wk,Day,Date,Time,Home,HomeScore,xGHome,AwayScore,xGAway,Away,Attendance,Venue,Referee
0,1.0,Fri,2022-08-05,20:00,Crystal Palace,0,1.2,2,1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor
1,1.0,Sat,2022-08-06,12:30,Fulham,2,1.2,2,1.2,Liverpool,22207.0,Craven Cottage,Andy Madley
2,1.0,Sat,2022-08-06,15:00,Tottenham,4,1.5,1,0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner

In [9]:
epl_teams_dict = {team: 0 for team in epl_teams}
xptd_goals_for = {team: 0 for team in epl_teams}
xptd_goals_agnst = {team: 0 for team in epl_teams}

In [10]:
actual_points_dict = {team: 0 for team in epl_teams}
goals_for = {team: 0 for team in epl_teams}
goals_agnst = {team: 0 for team in epl_teams}

In [11]:
def points_tally(row):
    if abs(row['xGHome'] - row['xGAway']) > 0.5:
        if row['xGHome'] > row['xGAway']:
            epl_teams_dict[row['Home']] += 3
        else:
            epl_teams_dict[row['Away']] += 3
    else:
        epl_teams_dict[row['Home']] += 1
        epl_teams_dict[row['Away']] += 1
        
    if row['HomeScore'] > row['AwayScore']:
        actual_points_dict[row['Home']] += 3
    elif row['HomeScore'] < row['AwayScore']:
        actual_points_dict[row['Away']] += 3
    else:
        actual_points_dict[row['Home']] += 1
        actual_points_dict[row['Away']] += 1
        
    xptd_goals_for[row['Home']] += row['xGHome']
    xptd_goals_for[row['Away']] += row['xGAway']
    xptd_goals_agnst[row['Home']] += row['xGAway']
    xptd_goals_agnst[row['Away']] += row['xGHome']
    
    goals_for[row['Home']] += row['HomeScore']
    goals_for[row['Away']] += row['AwayScore']
    goals_agnst[row['Home']] += row['AwayScore']
    goals_agnst[row['Away']] += row['HomeScore']

In [12]:
epl_df['Result'] = epl_df.apply(points_tally, axis=1)

In [13]:
epl_teams_dict = dict(sorted(epl_teams_dict.items(), key=lambda x: x[1], reverse=True))

In [14]:
epl_xg_df = pd.DataFrame(data = list(epl_teams_dict.items()), columns=['Team', 'Expected_Points'])

In [15]:
positions = list(range(1,21))

In [16]:
epl_xg_df['Expected_Position'] = positions

In [17]:
epl_xg_df

               Team  Expected_Points  Expected_Position
0   Manchester City               86                  1
1           Arsenal               81                  2
2          Brighton               77                  3
3     Newcastle Utd               73                  4
4         Liverpool               71                  5
5    Manchester Utd               67                  6
6         Brentford               60                  7
7       Aston Villa               56                  8
8           Chelsea               55                  9
9         Tottenham               54                 10
10         West Ham               51                 11
11   Leicester City               43                 12
12           Fulham               39                 13
13   Crystal Palace               38                 14
14     Leeds United               35                 15
15          Everton               28                 16
16  Nott'ham Forest               27                 17
17      Southampton               27                 18
18           Wolves               25                 19
19      Bournemouth               21                 20

In [18]:
def tallying_expected_goals(row):
    return round(xptd_goals_for[row['Team']],2), round(xptd_goals_agnst[row['Team']],2)

In [19]:
epl_xg_df['Expected_Goals_For'] = epl_xg_df.apply(tallying_expected_goals, axis=1)

In [20]:
epl_xg_df['Expected_Goals_Against'] = epl_xg_df['Expected_Goals_For'].apply(lambda x: x[1])
epl_xg_df['Expected_Goals_For'] = epl_xg_df['Expected_Goals_For'].apply(lambda x: x[0])

In [21]:
actual_points_dict = dict(sorted(actual_points_dict.items(), key=lambda x: x[1], reverse=True))
actual_points_list = list(actual_points_dict.keys())

In [22]:
def tallying_pos(row):
    return actual_points_list.index(row['Team']) + 1

In [23]:
def tallying_goals_for(row):
    return goals_for[row['Team']]

In [24]:
def tallying_goals_against(row):
    return goals_agnst[row['Team']]

In [25]:
epl_xg_df['Actual_Position'] = epl_xg_df.apply(tallying_pos, axis=1)
epl_xg_df['Goals_For'] = epl_xg_df.apply(tallying_goals_for, axis=1)
epl_xg_df['Goals_Against'] = epl_xg_df.apply(tallying_goals_against, axis=1)

In [26]:
def pos_change(row):
    return row['Actual_Position'] - row['Expected_Position']

In [27]:
epl_xg_df['Position_Change'] = epl_xg_df.apply(pos_change, axis=1)

In [28]:
epl_xg_df.columns

Index(['Team', 'Expected_Points', 'Expected_Position', 'Expected_Goals_For',
       'Expected_Goals_Against', 'Actual_Position', 'Goals_For',
       'Goals_Against', 'Position_Change'],
      dtype='object')

In [29]:
epl_xg_df['Points'] = list(actual_points_dict.values())

In [30]:
epl_xg_df.head()

,Team,Expected_Points,Expected_Position,Expected_Goals_For,Expected_Goals_Against,Actual_Position,Goals_For,Goals_Against,Position_Change,Points
0,Manchester City,86,1,78.7,32.2,1,94,33,0,89
1,Arsenal,81,2,71.7,42.2,2,88,43,0,84
2,Brighton,77,3,73.3,49.9,6,72,53,3,75
3,Newcastle Utd,73,4,72.1,39.9,4,68,33,0,71
4,Liverpool,71,5,72.5,50.9,5,75,47,0,67

In [31]:
epl_xg_df.columns

Index(['Team', 'Expected_Points', 'Expected_Position', 'Expected_Goals_For',
       'Expected_Goals_Against', 'Actual_Position', 'Goals_For',
       'Goals_Against', 'Position_Change', 'Points'],
      dtype='object')

In [32]:
epl_xg_df = epl_xg_df[['Team', 'Points', 'Expected_Points', 'Actual_Position',
                       'Expected_Position', 'Position_Change', 'Goals_For',
                       'Expected_Goals_For', 'Goals_Against', 'Expected_Goals_Against']]

#### Figure 1 and 2

In [33]:
epl_xg_df

,Team,Points,Expected_Points,Actual_Position,Expected_Position,Position_Change,Goals_For,Expected_Goals_For,Goals_Against,Expected_Goals_Against
0,Manchester City,89,86,1,1,0,94,78.7,33,32.2
1,Arsenal,84,81,2,2,0,88,71.7,43,42.2
2,Brighton,75,77,6,3,3,72,73.3,53,49.9
3,Newcastle Utd,71,73,4,4,0,68,72.1,33,39.9
4,Liverpool,67,71,5,5,0,75,72.5,47,50.9
5,Manchester Utd,62,67,3,6,-3,58,67.5,43,50.3
6,Brentford,61,60,9,7,2,58,57.0,46,50.3
7,Aston Villa,60,56,7,8,-1,51,50.2,46,52.5
8,Chelsea,59,55,12,9,3,38,49.6,47,52.5
9,Tottenham,52,54,8,10,-2,70,57.3,63,49.5
10,West Ham,45,51,14,11,3,42,49.2,55,53.0
11,Leicester City,44,43,18,12,6,51,50.5,68,63.4
12,Fulham,41,39,10,13,-3,55,46.3,53,63.7
13,Crystal Palace,40,38,11,14,-3,40,39.3,49,48.2
14,Leeds United,39,35,19,15,4,48,47.5,78,67.1
15,Everton,38,28,17,16,1,34,45.3,57,65.7
16,Nott'ham Forest,36,27,16,17,-1,38,39.5,68,64.2
17,Southampton,34,27,20,18,2,36,37.9,73,61.2
18,Wolves,31,25,13,19,-6,31,37.1,58,60.4
19,Bournemouth,25,21,15,20,-5,37,38.3,71,63.7

In [34]:
epl_xg_df.rename(columns={'Expected_Points': 'Exptd_Pts', 'Actual_Position': 'Act_Pos', 'Expected_Position': 'Exptd_Pos',
                   'Position_Change':'Pos_Chnge', "Expected_Goals_For":"Exptd_Goals_For", 
                   "Expected_Goals_Against":"Expted_Goals_Against"},
          inplace=True)